
#preview-tip {
	text-decoration: none;
	background-color: white;
	padding: 10px 20px;
	display:block;
	font-weight:bold;
}

#preview-tip div {
	font-family:Segoe UI, Helvetica, Arial, Tahoma, Verdana; 
	font-size:12px; 
	background-color:#0696d7;
	display:block;
	display:none;
	padding:8px 20px;
	color:white;
	position:relative;
}

#preview-tip span {
	position:absolute;
	right: 20px;
}

#preview-tip em {
	position:absolute;
	display:block;
	right: -14px;
	top: 0;
	border:1px solid #787878;
	color: #787878;
	width:13px;
	height:13px;
	text-align:center;
	font-style:normal;
	font-size:10px;
	vertical-align:middle;
	line-height:10px;
}

#preview-promo {
	height: 52px;
	background: url(images/button_default.png) no-repeat -1px -1px;
	display:block;
	border:1px solid #DEDEDE;
	text-decoration: none;
	color: 	#333;
	font-size:16px;
	font-family: Calibri, Arial, Verdana;
	font-weight: bold;
	line-height:16px;
	padding: 16px 0 0 43px;
	display: none;
}

#preview-promo:hover {
	background: url(images/button_hover_386x70.png) no-repeat -1px -1px;
	border-left: 1px solid #DEDEDE;
}

#preview-promo span {
	font-size: 11px;
	display:block;
	font-weight: normal;
	margin-top:2px;
}

#ps-wrapper {
	 position: relative;
}
#ps-wrapper a {
	position: absolute;
	left: 360px;
	color: #666;
	text-decoration: none;
	border-bottom: 1px dashed #787878;
}

#slideshow,
.slide
{
	height: 292px !important;
}

#title_bar {
	display: none;
}